language: cpp

sudo: required
dist: trusty

matrix:
  include:
    - os: linux
      compiler: gcc

    - os: linux
      compiler: clang

    - os: osx
      compiler: clang

script:
  - make coverage

after_success:
  # Use "-X gcov" to disable Codecov from running gcov. We already run this
  # command in "make coverage" and then delete unwanted coverage files that
  # contribute falsely to the coverage report, such as catch.hpp
  # Only send Linux (GCC) code coverage as the clang ones seem to be buggy and
  # report curly braces as unexecuted lines.
  - if [ "${TRAVIS_OS_NAME}" == "linux" ]; then bash <(curl -s https://codecov.io/bash) -X gcov; fi
