name: Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-16.04, ubuntu-18.04, windows-latest, macos-latest]
    steps:
    - uses: actions/checkout@v2
    - name: Run CMake
      run: cmake -DCMAKE_BUILD_TYPE=Release ./
    - name: Build CMake
      run: cmake --build . --config Release
    - name: Run Tests
      run: ./tests/mustache-unit-tests
      if: runner.os != 'Windows'
    - name: Run Tests
      run: ./tests/Release/mustache-unit-tests.exe
      if: runner.os == 'Windows'
